.nav {
    grid-area: n;
    background-color: #61dafb;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.active {
    color: rgb(238, 13, 13);
}

.item a.active {
    color: gold;
}